[submodule "ffmpeg"]
	path = ffmpeg
	url = https://github.com/Niap/FFmpeg
[submodule "openh264"]
	path = openh264
	url = https://github.com/cisco/openh264
[submodule "lame"]
	path = lame
	url = https://github.com/ffmpegwasm/lame
